$colorI: red;
$colorT: gray;
$colorO: aqua;
$colorL: gold;
$colorJ: magenta;
$colorS: blue;
$colorZ: limegreen;

$commonBorderColor: lightgray;
$buttonBorderColor: gray;

$blockSize: 32px;

$commonBorder: 1px solid $commonBorderColor;
$buttonBorder: 2px solid $buttonBorderColor;
